{{ define "main" }}

	<style>
		.photos-grid-sizer {
			width: 30%;
		}
	
		.photos-grid-item {
			width: 30%;
			margin-bottom: 10px;
			corner-radius: 5px;
		}
	</style>

	<div class="photos-grid-container">
	  <div class="photos-grid-sizer"></div>

		{{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
		{{- $len := (len $list) -}}
		{{ range $index, $value := $list }}
			<div class="photos-grid-item">
				<a href="{{ .Permalink }}">
					{{ range first 1 .Params.photos_with_metadata }}
						<img src="{{ .url }}" width="{{ .width }}" height="{{ .height }}">
					{{ end }}
				</a>
			</div>
		{{ end }}

	</div>

	<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
	<script>
		var grid = document.querySelector(".photos-grid-container");
		var msnry = new Masonry(grid, {
			itemSelector: ".photos-grid-item",
			columnWidth: ".photos-grid-sizer",
			gutter: 10
		});
	</script>

{{ end }}
